-- Add function to authenticate clients by user_id
CREATE OR REPLACE FUNCTION public.authenticate_client_by_user_id(user_id_input TEXT, password_input TEXT)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
  client_record public.client_users%ROWTYPE;
  session_token TEXT;
  session_id UUID;
BEGIN
  -- Find client user by user_id
  SELECT * INTO client_record FROM public.client_users 
  WHERE user_id::text = user_id_input AND is_active = true;
  
  IF NOT FOUND THEN
    RETURN jsonb_build_object('success', false, 'error', 'Invalid User ID or password');
  END IF;
  
  -- In a real implementation, you would verify the password hash here
  -- For now, we'll create the session (assuming password is correct)
  
  -- Generate session token
  session_token := encode(gen_random_bytes(32), 'base64');
  
  -- Create session
  INSERT INTO public.client_sessions (client_id, token, expires_at)
  VALUES (client_record.id, session_token, now() + interval '7 days')
  RETURNING id INTO session_id;
  
  -- Update last login
  UPDATE public.client_users SET last_login = now() WHERE id = client_record.id;
  
  RETURN jsonb_build_object(
    'success', true, 
    'client', row_to_json(client_record),
    'token', session_token,
    'session_id', session_id
  );
END;
$$;

-- Add a test client user with user_id for testing
INSERT INTO public.client_users (
  email, 
  password_hash, 
  business_name, 
  phone_number, 
  user_id,
  created_by,
  subscription_plan
) VALUES 
(
  'nandlal@example.com', 
  '$2b$10$rQZ9fz0qZ4K5X6Y8W3V2YOqY5Q6K8Z9X4Y7W6V5T4R3Q2P1O0N9M8', 
  'Nandlal Business', 
  '+1234567890',
  'nandlal',
  (SELECT id FROM public.admin_users LIMIT 1),
  'basic'
) ON CONFLICT (email) DO UPDATE SET
  user_id = EXCLUDED.user_id,
  updated_at = now();
